
.align-center{
    display: flex;
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.d-flex{
    display: flex;
}

.f-blod{
    font-weight: bold;
}

/*Container*/
#container-sm{
    width: auto;
    margin: 10px;
}

#container-md{ 
    width: auto;
    padding:10px;
}
/*cards*/

.card-title{
    font-weight: bold;
    font-style: italic;
}

.card-info {
    padding: 1rem;
    width:  100%;
}
/*card small*/
.card-sm{
    display: flex;
    width: 25rem;
    border-radius: 0.25rem;
    background-color: var(--color-a);
    margin-top: 10px;
}
.card-sm:hover{
    background-color: var(--color-d);
    color: var(--color-text-1);
}

.card-sm-details{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
}

.card-sm-state{
    margin-right: 5px;
    font-weight: bold;
}

.card-sm-btn{
    visibility:hidden;
    width: 0%;
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
    
}
/*card-mid*/
.card-md{
    display: flex;
    width: 45rem;
    border-radius: 0.25rem;
    border: solid 3px var(--color-c);
    color: var(--color-text-2);
    padding-bottom: 2rem;
    margin-top: 10px;

}
.card-md:hover{
    border: solid var(--color-a);
}
.card-md .card-info {
    padding: 0rem 2rem;
}
.card-md .card-info div{
    margin-top: 0.75rem;
}

.card-md-details{
    font-size: 0.9rem;
    font-style: italic;
}
.card-md-label{
    margin-right: 10px;
}

.card-md-btn{
    visibility:hidden;
    width: 0%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}